@model MovieApp.Domain.DTO.AddToShoppingCartDTO

@{
    ViewData["Title"] = "Add to shopping cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>

</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4 m-auto">
            <form asp-action="AddTicketToShoppingCart" method="post">
                <input type="hidden" asp-for="TicketId"/>
                <div class="form-group">
                    <label asp-for="SelectedMovie"></label>
                    <input disabled asp-for="SelectedMovie" class="form-control"/>
                </div>

                <div class="form-group">
                    <label asp-for="Quantity"></label>
                    <input asp-for="Quantity" class="form-control" />
                </div>

                <div>
                    <input type="submit" class="btn btn-primary" value="Add to cart"/>
                </div>
            </form>
        </div>
    </div>
</div>